<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
  <testsuites>
    <testsuite name="PHPUnit">
      <directory suffix="Test.php">UnitTest</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory>TestApp/core</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="reports/clover.xml"/>
  </logging>
</phpunit>
